<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polecajka Kapola</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>

</head>

<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <nav>
        <div class="logo" onclick="window.location.href='/'">Polecajka</div>
        <div class="nav-links">
            <button id="dark-toggle">🌙 Dark Mode</button>

            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/games">Games</a>
            <a href="/movies">Movies</a>
            <a href="/series">TV Series</a>

            {% if session.get('is_admin') %}
                <a href="/logout" class="auth-link logout">Logout</a>
            {% else %}
                <a href="/login" class="auth-link login">Login</a>
            {% endif %}

        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Polecajka Kapola. Built with Flask ⚡</p>
    </footer>

<script>
    const toggleButton = document.getElementById('dark-toggle');

    // Sprawdzenie, czy dark mode był wcześniej w localStorage
    if (localStorage.getItem('darkMode') === 'enabled') {
      document.body.classList.add('dark-mode');
    }

    toggleButton.addEventListener('click', () => {
      document.body.classList.toggle('dark-mode');

      // Zapis do localStorage
      if (document.body.classList.contains('dark-mode')) {
        localStorage.setItem('darkMode', 'enabled');
      } else {
        localStorage.setItem('darkMode', 'disabled');
      }
    });

</script>

</body>
</html>
