<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>📚 Polecajka</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">

    <!-- DataTables JS + jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
</head>
<body>
    <header>
        <h1>📖 Moja Polecajka</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
