{% extends "base.html" %}

{% block content %}
<h2>Lista książek</h2>

<form action="{{ url_for('add') }}" method="POST">
    <input type="text" name="title" placeholder="Tytuł" required>
    <input type="text" name="author" placeholder="Autor">
    <input type="text" name="category" placeholder="Kategoria">
    <button type="submit">Dodaj książkę</button>
</form>

<table id="books-table" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Kategoria</th>
            <th>Status</th>
            <th>Ocena</th>
            <th>Recenzja</th>
        </tr>
    </thead>

    <tbody>
        {% for book in books %}
            <tr data-id="{{ book['id'] }}">
                <td>{{ book['id'] }}</td>
                <td>{{ book['title'] }}</td>
                <td>{{ book['author'] }}</td>
                <td>{{ book['category'] }}</td>
                <td>{{ book['status'] }}</td>
                <td>{{ book['rating'] or '' }}</td>
                <td>{{ book['review'] or '' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>

function toggleEdit(bookId) {
    const form = document.getElementById(`edit-${bookId}`);
    form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
}

function toggleComplete(bookId) {
    const form = document.getElementById(`complete-${bookId}`);
    form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
}


$(document).ready(function() {
    $('#books-table').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        columnDefs:[{orderable: false, targets: -1}],
        language: {},
        pageLength: 10,
        rowCallback: function(row, data) {
        $(row).css('cursor', 'pointer');
        $(row).off('click').on('click', function() {
            const bookId = $(row).data('id');
            window.location.href = `/book/${bookId}`;
        });
    }
    });
});
</script>

{% endblock %}
